<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS 313 - Week 8: results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <h1>Results</h1>
    <%= mailType %> at <%= mailWeight %> oz. = <%= result %>

</body>

</html>